html {
  background-color: darkslategrey;
}

body {
  margin: 5% 10% 20% 10%;
}

.grid-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.horizontal-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
}

.mixed-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
}

.small-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
}
