html {
  height: 100%;
}

body {
  color: aliceblue;
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  height: 100%;
  overflow: hidden;
}

h1.text {
  font-weight: 700;
  width: 80%;
}

.text_text {
  font-weight: 400;
  width: 100%;
}

.design {
  width: 100%;
  margin: 0%;
  height: 100%;
}

.text {
  width: 35%;
  float: left;
  margin: 15% 5%;
}

* {
  box-sizing: border-box;
}

.registration {
  width: 50%;
  float: left;
  margin-top: 20px;
  margin-bottom: 0%;
  height: 90%;
}

.advert {
  width: 90%;
  text-align: center;
  padding: 2px;
  margin: 20px 5%;
  font-weight: 600;
  border-radius: 5px;
}

input {
  border-color: hsl(0, 100%, 74%);
  width: 100%;
  float: none;
  padding: 12px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 5px;
  background-image: url(icon-error.svg);
  background-size: 20px;
  background-position: 95%;
  padding-left: 30px;
  background-repeat: no-repeat;
}

.input_class {
  width: 90%;
  margin: 0% 5%;
  margin-bottom: 0%;
  border-radius: 5px;
  padding: 35px;
}

.text_in_input {
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  color: hsl(0, 100%, 74%);
  margin-right: 0%;
}

::placeholder {
  color: hsl(0, 100%, 74%);
  opacity: 1;
}

button {
  color: white;
  border-color: hsl(158, 59%, 51%);
  width: 100%;
  float: none;
  padding: 12px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  border-radius: 5px;
}
